/* ==========================================================================
   EXTENSIONS / NAVIGATION / TRANSFIGURE NAVIGATION
   ========================================================================== */

@media screen and (max-width: 59.9em) {
	.has-open-main-menu,
	.has-open-main-menu body {
		overflow: hidden;
	}

	.x-transfigure-navigation {
		backface-visibility: hidden;
		background-color: var(--transparent);
		bottom: 0;
		left: -100vw;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		position: fixed;
		right: 0;
		top: 0;
		transform: scaleX(0);
		transform-origin: left;
		transition: all ease-out 0.2s;
		z-index: -1;
	}

	.x-transfigure-navigation.is-open {
		background: rgba(17, 17, 17, 0.65);
		left: 0;
		opacity: 1;
		transform: scaleX(1);
		transition: all ease-in 0.2s;
		z-index: 2;
	}

	.x-transfigure-navigation__wrap {
		background-color: var(--white);
		max-width: 22.5rem;
		min-height: 100%;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.x-transfigure-navigation__header {
		padding: 0.5rem;
	}

	.x-transfigure-navigation__header .c-button {
		align-self: auto;
		padding: calc(1em - var(--default-border-width));
		text-decoration: none;
	}

	.x-transfigure-navigation__content {
		font-size: var(--default-font-size);
		position: relative;
	}

	.x-transfigure-navigation__row,
	.x-transfigure-navigation__row .c-navigation__row,
	.x-transfigure-navigation__row .c-navigation__row:nth-child(2) .c-navigation__row:last-of-type {
		background-color: var(--white);
		display: block;
		left: 0;
		list-style: none;
		min-height: 100%;
		position: absolute;
		top: 0;
		transition: transform 0.3s;
		width: 100%;
	}

	.x-transfigure-navigation .c-navigation__list {
		position: static;
	}

	.x-transfigure-navigation .c-navigation__list:hover > .c-navigation__row,
	.x-transfigure-navigation .c-navigation__list.focus-within > .c-navigation__row {
		box-shadow: none;
		display: block;
	}

	@supports (will-change: auto) {
		.x-transfigure-navigation .c-navigation__list:focus-within > .c-navigation__row {
			display: block;
			box-shadow: none;
		}
	}

	.x-transfigure-navigation .c-navigation__link {
		align-items: center;
		backface-visibility: hidden;
		display: flex;
		height: 3rem;
		justify-content: space-between;
		overflow: hidden;
		padding: 0 0 0 1rem;
		text-overflow: ellipsis;
		transform: translateZ(0);
		transition: all 0.3s;
		white-space: nowrap;
	}

	.x-transfigure-navigation .c-navigation__row:nth-child(2) .c-navigation__link,
	.x-transfigure-navigation .c-navigation__row:nth-child(2) .c-navigation__row:last-of-type .c-navigation__link {
		padding-left: 1rem;
	}

	.x-transfigure-navigation__row .c-navigation__list:first-of-type > .c-navigation__link,
	.x-transfigure-navigation__row .c-navigation__row .c-navigation__list:first-of-type > .c-navigation__link {}

	.x-transfigure-navigation__row .c-navigation__list:last-of-type > .c-navigation__link,
	.x-transfigure-navigation__row .c-navigation__row .c-navigation__list:last-of-type > .c-navigation__link {
		border-bottom-width: var(--default-border-width);
	}

	.x-transfigure-navigation__row.is-hidden,
	.x-transfigure-navigation__row .c-navigation__row.is-hidden {
		transform: translateX(100%);
	}

	.x-transfigure-navigation__row.is-hidden > .cmp-primary-navigation__title,
	.x-transfigure-navigation__row.show-next > .cmp-primary-navigation__title,
	.x-transfigure-navigation__row.is-hidden > .c-navigation__list > .c-navigation__link,
	.x-transfigure-navigation__row.show-next > .c-navigation__list > .c-navigation__link,
	.x-transfigure-navigation__row .c-navigation__row.is-hidden > .c-navigation__list > .c-navigation__link,
	.x-transfigure-navigation__row .c-navigation__row.show-next > .c-navigation__list > .c-navigation__link {
		opacity: 0;
	}

	.x-transfigure-navigation__row.show-next > .c-navigation__list > .c-navigation__link,
	.x-transfigure-navigation__row .c-navigation__row.show-next > .c-navigation__list > .c-navigation__link {
		transform: translateX(-100%);
	}

	.x-transfigure-navigation .c-navigation__link-carat {
		display: none;
	}

	.x-transfigure-navigation .has-child-menu .c-navigation__link-carat {
		align-self: stretch;
		display: inline-flex;
	}

	.x-transfigure-navigation .c-navigation__link-carat > * {
		align-items: center;
		display: flex;
		font-size: 0.75rem;
		justify-content: center;
		width: 4rem;
	}

	.x-transfigure-navigation__footer {
		border-top: var(--default-border-width) solid var(--gray-300);
		font-size: var(--default-input-font-size);
		font-weight: var(--font-regular);
		margin: 1rem 0 0.5rem 1rem;
		padding: 1rem 0;
		width: fit-content;
	}

	.x-transfigure-navigation__footer-link {
		align-items: center;
		display: flex;
		height: 2.5rem;
		text-decoration: none;
	}
}


@media screen and (min-width: 60em) {
	.x-transfigure-navigation__row {
		gap: 0.25rem;
	}

	.x-transfigure-navigation__row .c-navigation__row {
		background-color: var(--white);
		display: none;
		padding: 0.5rem;
		position: absolute;
		white-space: nowrap;
		width: auto;
		z-index: 100;
	}

	.x-transfigure-navigation > .c-navigation__row {
		display: flex;
	}

	.x-transfigure-navigation .c-navigation__link span {
		position: relative;
	}

	.x-transfigure-navigation .c-navigation__link span:after {
		background-color: currentColor;
		bottom: -0.4em;
		content: '';
		height: 0.2em;
		left: 0;
		position: absolute;
		transform: scaleX(0);
		transform-origin: bottom left;
		transition: transform 0.25s ease-out;
		width: 100%;
	}

	.x-transfigure-navigation .c-navigation__link:is(:focus, :focus-within, :hover) span:after {
		transform: scaleX(1);
	}

	.x-transfigure-navigation .c-navigation__link:is(:target) {
		text-decoration: underline;
		text-decoration-thickness: 0.2em;
		text-underline-offset: 0.4em;
	}

	.x-transfigure-navigation__row .c-navigation__row:nth-child(2) .c-navigation__list {
		text-align: left;
	}

	.x-transfigure-navigation__row .c-navigation__row:nth-child(2) .c-navigation__row:last-of-type {
		left: 100%;
		top: calc(-1em + -0.5rem);
		z-index: 200;
	}

	.x-transfigure-navigation .c-navigation__row:nth-child(2) .c-navigation__link,
	.x-transfigure-navigation .c-navigation__row:nth-child(2) .c-navigation__row:last-of-type .c-navigation__link {
		justify-content: space-between;
		padding: 0.5rem 1rem;
	}

	.x-transfigure-navigation .c-navigation__list:hover > .c-navigation__row,
	.x-transfigure-navigation .c-navigation__list:focus-within > .c-navigation__row {
		box-shadow: 0 3px 0.5em 0 rgba(0, 0, 0, 0.08);
		display: flex;
		gap: 0.25rem;
		min-width: fit-content;
		transform: translateY(calc(1em + var(--default-border-width)));
	}

	.x-transfigure-navigation .c-navigation__list:hover > .c-navigation__row::before,
	.x-transfigure-navigation .c-navigation__list:focus-within > .c-navigation__row::before {
		content: '';
		display: block;
		height: 1em;
		position: absolute;
		top: -1em;
		width: 100%;
	}

	.x-transfigure-navigation__row .is-off-screen .c-navigation__row:nth-child(2) .c-navigation__row {
		box-shadow: -1px 1px 0.25em 0 rgba(17, 17, 17, 0.5);
		left: auto;
		right: 100%;
	}

	.x-transfigure-navigation__row .c-navigation__row:nth-child(2) .c-navigation__row .c-navigation__link,
	.x-transfigure-navigation__row .c-navigation__row:nth-child(2) .c-navigation__row:last-of-type .c-navigation__link {
		padding-left: 1em;
	}

	.x-transfigure-navigation .c-navigation__link-carat {
		font-size: 0.5em;
		transform: rotate(90deg);
	}

	.x-transfigure-navigation .c-navigation__row:nth-child(2) .c-navigation__link-carat {
		transform: rotate(0deg);
	}
}

.x-transfigure-navigation__content {
	padding-bottom: 1em;
	padding-top: 1em;
}

.x-transfigure-navigation .c-navigation__link {
	text-decoration: none;
}

.x-transfigure-navigation .c-navigation__link:hover {
	box-shadow: none;
}

.x-transfigure-navigation .c-navigation__row:nth-child(2) .c-navigation__link:hover {
	background-color: var(--gray-100);
	border-radius: var(--default-border-radius);
	text-decoration: none;
	transition: background-color ease-out 0.1s;
}
