/**
	Thumbnail Filmstrip
 */
[data-filmstrip-wrapper] {
	position: relative;
}

[data-filmstrip] {
	overflow: hidden;
	position: relative;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	user-select: none;
}

[data-vertical] [data-filmstrip] {
	height: 100%;
	scroll-snap-type: y mandatory;
}

[data-filmstrip]::-webkit-scrollbar {
	display: none;
}

[data-filmstrip] ul {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	margin: 0;
	width: max-content;
}

[data-filmstrip] ul.has-controls {
	padding: 0 calc(var(--default-spacing-unit) / 2);
}

[data-vertical] [data-filmstrip] ul {
	flex-direction: column;
	height: max-content;
}

[data-vertical] [data-filmstrip] ul.has-controls {
	padding: calc(var(--default-spacing-unit) / 2) 0;
}

[data-filmstrip] li {
	height: var(--prod-thumb-y);
	list-style: none;
	scroll-snap-align: none;
	scroll-snap-stop: always;
	width: var(--prod-thumb-x);
}

[data-filmstrip] picture {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
}

[data-filmstrip] img {
	height: auto;
	max-width: 100%;
	width: 100%;
}

[data-filmstrip-controls] {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
	left: 0;
	list-style: none;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

[data-filmstrip-controls] button {
	border-color: var(--gray-400);
	border-radius: 50%;
	height: 3rem;
	padding: 0;
	width: 3rem;
}

[data-filmstrip-controls] button:focus {
	outline: 3px solid var(--focus);
	outline-offset: -3px;
}

[data-filmstrip-controls] button span {
	pointer-events: none;
}

[data-vertical] [data-filmstrip-controls] button {
}

[data-vertical] [data-filmstrip-controls] {
	flex-direction: column;
}

[data-vertical] + [data-filmstrip-controls] .x-filmstrip-controls__next {
}

[data-vertical] [data-filmstrip-controls] button span {
	transform: rotate(90deg);
}


/**
	Modal Photo Viewer
 */
.is-inert {
	pointer-events: none;
	user-select: none;
}

.has-photo-viewer {
	overflow: hidden;
}

.x-photo-viewer {
	background-color: rgba(0, 0, 0, 0.75);
	border: 0;
	clip: rect(0 0 0 0);
	display: flex;
	flex-direction: column;
	height: auto;
	left: 0;
	margin: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
	transform: scale(0);
	transition: opacity 0.3s ease, transform 0.2s ease;
	white-space: nowrap;
	width: 1px;
	z-index: 9999;
}

.x-photo-viewer__visible {
	clip: auto;
	height: 100%;
	opacity: 1;
	position: fixed;
	transform: scale(1);
	width: 100%;
}

.x-photo-viewer__header,
.x-photo-viewer__controls {
	align-items: center;
	background-color: var(--black);
	color: var(--gray-100);
	display: flex;
	width: 100%;
}

.x-photo-viewer__title {
	flex: 1;
	font-size: var(--title-four);
	margin: 0;
	padding-left: 2em;
	text-align: center;
	white-space: normal;
}

.x-photo-viewer__close {
	height: 2.25em;
	margin: .5em;
	width: 2.25em;
}

.x-photo-viewer__close button {
	height: 100%;
	padding: 0;
	width: 100%;
}

.x-photo-viewer__container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 0 1rem;
	touch-action: manipulation;
	white-space: nowrap;
	width: 100%;
}

.x-photo-viewer__current-image {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	opacity: 0;
	transition: opacity ease-in 0.3s 0.3s;
	width: 100%;
}

.x-photo-viewer__current-image.is-loaded {
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

.x-photo-viewer__current-image img {
	max-height: 80vh;
}

.x-photo-viewer__controls {
	justify-content: space-between;
	padding: 1em 2em;
}

.x-photo-viewer__count {
	font-weight: var(--font-medium);
	text-align: center;
}
