/* ==========================================================================
   EXTENSIONS / SHOW PASSWORD / SHOW PASSWORD
   ========================================================================== */

/**
 * This extension allows a user to reveal the password they have typed.
 */


input[type="password"]:invalid + .x-toggle-password {
	color: var(--gray-400);
}

.x-toggle-password {
	border: 0 none;
	border-radius: 0;
	color: var(--gray-600);
	font-size: 1.5em;
	margin-top: -0.125em;
	padding: 0.25em;
	position: absolute;
	right: 0.5em;
	top: calc(50% - 1px);
}

.x-toggle-password--no-label {
	margin-top: -0.25em;
	top: 25%;
}
