/* ==========================================================================
   EXTENSIONS / MINI-BASKET / MINI-BASKET
   ========================================================================== */

/**
 * This is an extension to use the mini-basket functionality of Miva in an
 * off-canvas method.
 */
.x-mini-basket {
	background-color: rgba(34, 34, 34, .8);
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all ease-in-out 0.2s;
	z-index: 500;
}

.x-mini-basket--open {
	opacity: 1;
}

.x-mini-basket__empty-icon {
	align-items: center;
	border-radius: 50%;
	display: inline-flex;
	height: 4.5rem;
	justify-content: center;
	margin-top: 1.875rem;
	width: 4.5rem;
}

.x-mini-basket__content {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	max-width: 25rem;
	padding: 1rem 0;
	width: 100vw;
}

.x-mini-basket__content :is(header, footer),
.x-mini-basket__list {
	padding: 0 1rem;
}

.x-mini-basket__header,
.x-mini-basket__subtotal {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1.875rem;
}

.x-mini-basket__subtotal {
	color: var(--gray-600);
	font-weight: var(--font-medium);
	padding-bottom: 1.75rem;
}

.x-mini-basket__header button {
	background-color: var(--white);
	border: 0 none;
	cursor: pointer;
	font-size: 0.625rem;
}

.x-mini-basket__list {
	flex-grow: 1;
	margin-bottom: 1rem;
	overflow-y: auto;
}

.x-mini-basket__line {
	border-top: var(--default-border-width) solid var(--gray-400);
	display: flex;
	flex-wrap: wrap;
	gap: 1.25rem;
	font-size: 0.875rem;
	padding: 1.5rem 0;
}

.x-mini-basket__line:last-of-type {
	padding: 1rem 0;
}

.x-mini-basket__image {
	height: 2.5rem;
	overflow: hidden;
	text-align: center;
	width: 2.5rem;
}

.x-mini-basket__item {
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	justify-content: space-between;
	text-decoration: none;
}

.x-mini-basket__item:hover {
	text-decoration: none;
}

.x-mini-basket__item-name,
.x-mini-basket__item-attributes {
	display: block;
	margin-bottom: 1rem;
}

.x-mini-basket__item-attributes {
	font-size: var(--message-one);
	line-height: 1.75;
}

.x-mini-basket__subscription {
	flex-basis: 100%;
}

.x-mini-basket__item-price {
	color: var(--black);
}

.x-mini-basket__item-total {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.x-mini-basket__footer {
}

.x-mini-basket__charges,
.x-mini-basket__total {
	display: flex;
	flex: 1 0 100%;
	justify-content: space-between;
}

.x-mini-basket__charges {
	flex-direction: column;
	font-size: 0.875rem;
	margin-bottom: 1em;
}

.x-mini-basket__charge-item {
	display: flex;
	justify-content: space-between;
}

.x-mini-basket__total {
	font-size: var(--subheading-small);
	font-weight: var(--font-medium);
}

.x-mini-basket__cta {
	display: grid;
	gap: 0.5rem 0;
}
