/* =====
   EXTENSIONS / TABS / A11Y-TABS
   ===== */

/**
 * This is an accessible tab solution extension based on guidelines documented
 * by Heydon Pickering on the Inclusive Components Pattern Library.
 * https://inclusive-components.design/tabbed-interfaces/
 */
[data-tab-component] *:focus:not(:focus-visible) {
	box-shadow: inset 0 0 0 4px var(--transparent);
	outline: none;
	text-decoration: none;
}

[data-tab-component] *:focus-visible {
	box-shadow: inset 0 0 0 4px var(--focus);
	outline: none;
	text-decoration: none;
}


[data-tab-component] [role="tablist"] {
	display: flex;
	gap: 1.75rem;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

[data-tab-component] [role="presentation"],
[data-tab-component] [role="tab"] {
	display: inline-block;
}

[data-tab-component] [role="tab"] {
	border-bottom: calc(var(--default-border-width) * 2) solid var(--transparent);
	font-size: var(--paragraph-large);
	font-weight: var(--font-medium);
	padding: 0.5rem;
	text-decoration: none;
}

[data-tab-component] [role="tab"][aria-selected] {
	border-color: currentColor;
}

[data-tab-component] [role="tabpanel"] {
	font-size: var(--paragraph-large);
	margin: auto;
	max-width: 50rem;
	padding-top: 2rem;
}

[data-tab-component] [role="tabpanel"] * + * {
	margin-top: 0.75rem;
}

@media (max-width: 40em) {
	[data-tab-component] [role="tablist"],
	[data-tab-component] [role="presentation"] {
		display: block;
	}

	[data-tab-component] [role="tab"] {
		border-bottom: var(--default-border-width) solid var(--gray-300);
		color: var(--black);
		display: flex;
		justify-content: space-between;
	}

	[data-tab-component] [role="tab"][aria-selected] {
		border-color: var(--gray-300);
	}

	[data-tab-component] [role="tablist"] li + li a {
		border-top: 0 !important;
	}

	[data-tab-component] [role="tab"]::after {
		content: '+';
		font-size: 1.25em;
		line-height: 1;
	}

	[data-tab-component] [role="tab"][aria-selected]::after {
		content: '-';
	}

	[data-tab-component] [role="tabpanel"] {
		border-bottom: var(--default-border-width) solid var(--transparent);
		padding: 1rem 0.5rem;
	}

	[data-tab-component] [role="tabpanel"]:not([hidden]) {
		border-color: var(--gray-300);
	}
}
