/* ==========================================================================
   EXTENSIONS / SUBSCRIPTIONS / SUBSCRIPTIONS
   ========================================================================== */

/**
 * When using the subscription function of Miva, this is the default styling
 * used for the date picker. You can update the styles in your theme file if
 * you are looking to make changes.
 */

.miva_datepicker {
	background-color: var(--white);
	border: var(--default-border-width) solid var(--gray-400);
	display: none;
	padding: var(--default-spacing-unit);
	position: absolute;
	z-index: 1000;
}

.miva_datepicker_calendar_container {
	display: inline-block;
	position: relative;
	-webkit-touch-callout: none;
	user-select: none;
	vertical-align: top;
	width: 214px;
}

.miva_datepicker_calendar_month_selector {
	align-items: center;
	background-color: var(--gray-400);
	display: flex;
	position: relative;
}

.miva_datepicker_calendar_month_selector_next,
.miva_datepicker_calendar_month_selector_prev {
	background: 0 -35px no-repeat;
	border: 0 none;
	cursor: pointer;
	height: 35px;
	padding: 0;
	width: 35px;
}

.miva_datepicker_calendar_month_selector_next:hover,
.miva_datepicker_calendar_month_selector_prev:hover {
	background-color: var(--gray-600);
}

.miva_datepicker_calendar_month_selector_title {
	color: var(--white);
	flex-grow: 1;
	text-align: center;
}

.miva_datepicker_calendar_month_selector_title_month {
	display: inline-block;
}

.miva_datepicker_calendar_month_selector_title_year {
	display: inline-block;
	margin-left: 0.25em;
}


.miva_datepicker_cancel {
	display: inline-block;
	margin-top: 0.75em;
}

.miva_datepicker_calendar_weekday_container {
	height: 34px;
	margin: 2px;
	position: relative;
}

.miva_datepicker_calendar_weekday_title {
	display: inline-block;
	font-weight: 700;
	padding: 3px 0;
	position: absolute;
	text-align: center;
	width: 28px;
}

#miva_datepicker_calendar_week_container {
	margin: 2px;
	position: relative;
}

.miva_datepicker_calendar_week {
	display: block;
	height: 30px;
	position: relative;
}

.miva_datepicker_calendar_day {
	align-items: center;
	border: var(--default-border-width) solid var(--gray-400);
	bottom: 1px;
	cursor: pointer;
	display: inline-flex;
	font-size: 0.75em;
	justify-content: center;
	position: absolute;
	top: 1px;
	width: 26px;
}

.miva_datepicker_calendar_day:hover {
	background-color: var(--gray-400);
	border-color: var(--gray-600);
	color: var(--white);
}

.miva_datepicker_calendar_day_noselect,
.miva_datepicker_calendar_day_noselect:hover {
	background-color: var(--gray-300);
	border-color: var(--gray-600);
	color: var(--gray-600);
}

.miva_datepicker_calendar_day_current {
	border-color: var(--gray-600);
	color: var(--gray-600);
	font-weight: 700;
}

.miva_datepicker_calendar_day_current:hover {
	background-color: var(--gray-600);
	color: var(--white);
}

.miva_datepicker_calendar_day_active {
	background-color: var(--gray-600);
	border-color: var(--gray-400);
	color: var(--white);
	font-weight: 700;
}

.miva_datepicker_calendar_day_0 {
	left: 1px;
}

.miva_datepicker_calendar_day_1 {
	left: 31px;
}

.miva_datepicker_calendar_day_2 {
	left: 61px;
}

.miva_datepicker_calendar_day_3 {
	left: 91px;
}

.miva_datepicker_calendar_day_4 {
	left: 121px;
}

.miva_datepicker_calendar_day_5 {
	left: 151px;
}

.miva_datepicker_calendar_day_6 {
	left: 181px;
}
