/* ==========================================================================
   EXTENSIONS / FACETS / FACETS
   ========================================================================== */


.x-facet-set {
	margin-bottom: var(--default-spacing-unit);
}

.x-facet-set__trigger {
	display: none;
}

.x-facet-set__label.x-collapsible-content__toggle {
	color: var(--gray-600);
	font-size: var(--paragraph-large);
	font-weight: var(--font-medium);
	margin-bottom: var(--default-spacing-unit);
}

.x-facet-set__label > * {
	font-size: 0.625rem;
}

.x-facet-set__list:not([aria-hidden="true"]) {
	display: block;
	max-height: 0;
	margin-bottom: var(--default-spacing-unit);
	opacity: 0;
	transition-delay: 0.15s, 0s, 0s;
	visibility: hidden;
}

.x-facet-set__list.x-collapsible-content__item[aria-hidden='false'] {
	max-height: 50em;
}

.x-facet-set .c-form-checkbox {
	font-size: var(--paragraph-small);
	line-height: 2;
	margin: 0.5em 0;
}
