/* ==========================================================================
   EXTENSIONS / CATEGORY TREE / CATEGORY TREE
   ========================================================================== */

.x-category-tree {
	margin-bottom: var(--default-spacing-unit);
	position: relative;
}

.x-category-tree__trigger {
	display: none;
}

.x-category-tree__label.x-collapsible-content__toggle {
	border-bottom: var(--default-border-width) solid var(--gray-400);
	font-size: 0.75rem;
	margin: 0 0 1em;
	min-height: 2em;
	padding: 1em 0;
}

.x-category-tree .x-collapsible-content__item[aria-hidden='false'],
.x-category-tree .x-collapsible-content__item[aria-hidden='false'] .x-category-tree__row {
	max-height: 100%;
}


.x-category-tree__title {
	display: none;
}

.x-category-tree__heading {
	font-size: var(--title-four);
	font-weight: var(--font-bold);
	line-height: calc(var(--title-four) * 1.4);
	margin-bottom: var(--title-four);
}

.x-category-tree__heading--facets {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.x-category-tree__heading--facets a {
	color: var(--gray-600);
	font-size: var(--default-input-font-size);
	font-weight: var(--font-regular);
}

.x-category-tree__heading--facets a > * {
	display: inline-block;
	font-size: 0.625rem;
	margin-right: 0.5em;
	text-decoration: none;
}

.x-category-tree__row {
	list-style: none;
	margin: 0;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	transition: 0.2s ease-in-out;
	visibility: hidden;
	width: 100%;
}

.x-category-tree__link,
.x-category-tree__link-set {
	color: var(--gray-600);
	display: block;
	font-weight: var(--font-medium);
	line-height: 2;
	transition: color ease-in-out 0.2s;
}

.x-category-tree__link {
	margin: 1em 0;
	text-decoration: none;
}

.x-category-tree__link.u-text-underline {
	text-decoration: underline;
}

.x-category-tree__link:is(:focus, :focus-within, :hover),
.x-category-tree__link--current {
	text-decoration: underline;
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.2em;
}

.x-category-tree__link-set {
	font-size: var(--subheading-small);
}

.x-category-tree__section-title:not(:first-of-type) {
	margin-top: 2.5rem;
}

.x-category-tree__list--level-2 .x-category-tree__link,
.x-category-tree__list--level-3 .x-category-tree__link {
	font-size: var(--default-input-font-size);
}

.x-category-tree__list--level-2 .x-category-tree__link {
	padding-left: var(--title-four);
}

.x-category-tree__list--level-3 .x-category-tree__link {
	padding-left: var(--title-two);
}

.x-category-tree__link--current,
.x-category-tree__list--level-2 .x-category-tree__link--current,
.x-category-tree__list--level-3 .x-category-tree__link--current {
}


@media (min-width: 60em) {
	.x-category-tree__label.x-collapsible-content__toggle {
		display: none;
	}

	.x-category-tree__title {
		display: block;
	}

	.x-category-tree__row,
	.x-category-tree__row.x-collapsible-content__item {
		max-height: none;
		opacity: 1;
		overflow: visible;
		visibility: visible;
	}
}


/**
 * This section contains the necessary styles when using the built-in search
 * faceting ability of Miva. Since the functional code is generated at run-time,
 * these styles do not conform to the tenants used in the rest of the framework.
 */

.mm_facet_rangeslider {
	display: block;
	height: 2em;
	margin: 0.25em;
	position: relative;
}

.mm_facet_rangeslider_input_container_low,
.mm_facet_rangeslider_input_container_high {
	border-bottom: var(--default-border-width) solid var(--gray-300);
	height: 2em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 4em;
}

.mm_facet_rangeslider_input_container_low {
	border-radius: 0.25em 0 0 0.25em;
	left: 0;
}

.mm_facet_rangeslider_input_container_high {
	border-radius: 0 0.25em 0.25em 0;
	right: 0;
}

.mm_facet_rangeslider_input_container_low.mm_facet_rangeslider_input_active,
.mm_facet_rangeslider_input_container_high.mm_facet_rangeslider_input_active {
	border-color: var(--gray-300);
}

.mm_facet_rangeslider_input {}

.mm_facet_rangeslider_track_container {
	border-bottom: var(--default-border-width) solid var(--gray-300);
	border-top: var(--default-border-width) solid var(--gray-300);
	box-sizing: border-box;
	height: 2em;
	left: 4em;
	position: absolute;
	right: 4em;
	top: 0;
	-webkit-touch-callout: none;
	-ms-user-select: none;
	user-select: none;
}

.mm_facet_rangeslider_track {
	height: 0.25em;
	left: 0.25em;
	position: absolute;
	right: 0.25em;
	top: 50%;
	transform: translateY(-50%);
}

.mm_facet_rangeslider_track_background,
.mm_facet_rangeslider_track_selection {
	background: var(--gray-300);
	bottom: 0;
	left: 0.5em;
	position: absolute;
	right: 0.5em;
	top: 0;
}

.mm_facet_rangeslider_track_selection {
	background: var(--gray-300);
}

.mm_facet_rangeslider_track_handle_low,
.mm_facet_rangeslider_track_handle_high {
	background: var(--white);
	border: var(--default-border-width) solid var(--gray-300);
	border-radius: 50%;
	cursor: pointer;
	height: 2em;
	left: -0.5em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 2em;
}

.mm_facet_rangeslider.mm_facet_rangeslider_mini {
	height: 6em;
	margin: 0;
}

.mm_facet_rangeslider.mm_facet_rangeslider_mini .mm_facet_rangeslider_input_container_low {
	border-radius: 0.25em 0 0 0;
	width: 50%;
}

.mm_facet_rangeslider.mm_facet_rangeslider_mini .mm_facet_rangeslider_input_container_high {
	border-left: none;
	border-radius: 0 0.25em 0 0;
	width: 50%;
}

.mm_facet_rangeslider.mm_facet_rangeslider_mini .mm_facet_rangeslider_track_container {
	border: var(--default-border-width) solid var(--gray-300);
	border-radius: 0 0 0.25em 0.25em;
	border-top: none;
	height: 3em;
	left: 0;
	right: 0;
	top: 2em;
}

.mm_facet_rangeslider.mm_facet_rangeslider_mini .mm_facet_rangeslider_input_container_low.mm_facet_rangeslider_input_active,
.mm_facet_rangeslider.mm_facet_rangeslider_mini .mm_facet_rangeslider_input_container_high.mm_facet_rangeslider_input_active {
	border-color: var(--gray-200);
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15);
}
