/* ==========================================================================
   EXTENSIONS / PRODUCT LISTS / PRODUCT LISTS
   ========================================================================== */


/**
 * Product lists are used in many spots throughout the store. They can be found 
 * on the storefront as featured product, the related products section of a 
 * product page, as an auto-suggest feature during checkout, or wherever.
 */

.x-product-list,
.x-subcategory-list {
	display: grid;
	gap: calc(var(--default-spacing-unit) * 2);
	grid-template-columns: repeat(2, minmax(0, 1fr));
	margin-bottom: var(--default-spacing-unit);
}

.x-subcategory-list {
	grid-template-columns: repeat(auto-fit, minmax(0, 6.5rem));
	justify-content: center;
}

@media (min-width: 60em) {
	.x-product-list {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.x-subcategory-list {
		grid-template-columns: repeat(auto-fit, minmax(0, 9.5rem));
	}
}

.x-product-list__heading {
	margin-bottom: 2em;
}

.x-product-list__item,
.x-subcategory-list__item {
	position: relative;
}

.x-product-list__item {
	display: flex;
}

.x-product-list__figure,
.x-product-list__figure-caption,
.x-subcategory-list__figure,
.x-subcategory-list__figure-caption {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.x-product-list__figure-caption {
	flex-grow: 1;
	gap: 1em;
	justify-content: space-between;
}

.x-subcategory-list__figure-caption {
	font-weight: var(--font-medium);
	text-align: center;
}

.x-product-list__picture,
.x-subcategory-list__picture {
	aspect-ratio: 1;
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}

.x-product-list__link,
.x-subcategory-list__link {
	text-decoration: none;
}

.x-product-list__link:hover,
.x-subcategory-list__link:hover {
	text-decoration: underline;
}

.x-product-list__link::before,
.x-subcategory-list__link::before {
	bottom: 0;
	content: '';
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: box-shadow 250ms;
	z-index: 1;
}

.x-product-list__name {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.x-product-list__price {
	font-size: var(--default-input-font-size);
}

.x-product-list__price_set {
	display: inline-flex;
	gap: 1em;
}


/**
* Modifications for related products.
*/
.x-product-list--related {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 48em) {
	.x-product-list--related {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 75em) {
	.x-product-list--related {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media (min-width: 90em) {
	.x-product-list--related {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}
